/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

 .intro {
  padding: 200px 0;
  background-image: url(https://images.unsplash.com/photo-1421622548261-c45bfe178854?dpr=2&fit=crop&fm=jpg&h=925&ixjsv=2.0.0&ixlib=rb-0.3.5&q=50&w=1500);
  background-position: center;
  background-size: cover;
 }
