<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="intro">
  <div class="container text-center">
    <%= link_to 'Register your restaurant', new_restaurant_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2>Restaurants</h2>
      <% @restaurants.each do |restaurant| %>
        <h3>
          <%= link_to restaurant.name, restaurant_path(restaurant) %>
          <small><%= restaurant.category %></small>
        </h3>
      <% end %>
    </div>
  </div>
</div>
